<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    a.update:hover {
        background-color: rgb(0, 123, 255);
        color: white;
        text-decoration: none;
    }

    .update {
        display: inline-block;
        padding: 7px 16px;
        font-size: 12px;
        text-align: center;
        background-color: #343a40;
        color: white;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<head>
    <title>Update subject</title>
</head>
<body>
<form th:method="POST" th:action="@{/subjects/{id}(id=${subject.getId()})}" th:object="${subject}">
    <label for="name">Enter subject name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <input type="submit" value="Update" class="update"/>
</form>
</body>
</html>